doctype html(ng-app='myModule')
head
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js')
  
  body(ng-controller='myController')
    {{ message }}

script(src='../scripts/script.js')
